# Settings
.vscode/*

# Data
*.pickle
FinalExam/pub/*
Abgabe/Unpacked/*
playground/pw_pic.png
P0/pw_pic.png

#Crt's and keys
*.pem
*.key
*.csr


#Compiled
**/__pycache__/**
*.cpython-38.pyc
*.aux
*.fls
*.log
*.synctex.gz
*.fdb_latexmk
*.out
*.toc
*.lof
FinalExam/docs/ITS_WiSe_202021_Hausarbeit_969272.pdf
FinalExam/docs/ITS_WiSe_202021_Hausarbeit_969272_en.pdf
Abgabe/ITS_WiSe_202021_Hausarbeit_969272.zip
FinalExam/docs/ITS_WiSe_202021_Hausarbeit_969272_de.pdf
